@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<MishaWork.Models.Subject>
<head>
    <link href="~/css/WorkPage.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <table border = 1>
    @foreach(var subject in Model)
    {
    <tr>
        <td>
            <div>Название предмета:</div>
            @subject.Name
                </td>
    </tr>
    <tr>
        <td>
            <div>Комментарий учителя</div>
            @subject.TeacherComment
        </td>
    </tr>
    <tr>
        <td>
           <h3>Выберите файл для загрузки</h3>
           
            <form asp-action="AddFile" asp-controller="Home" method="post" enctype="multipart/form-data">
                <input type="File"/>
                <input type="submit" value="Загрузить" />
            </form>
        </td>
    </tr>
}
    
</table>
</body>
