@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model MishaWork.Models.UserSubject
@{
}
<body>
    <a asp-action = "AddWorkToStudent" asp-controller = "Teacher" asp-route-user ="@Model" >Добавить работу</a>    
    @if(Model.Subjects.Count == 0)
    {
        <h1>
            Активных работ нет!
        </h1>
    }
    else
    {
        <table border = "1">
        @foreach(var subject in Model.Subjects)
        {
            <tr>
                <td><div>@subject.Date.ToUniversalTime().ToString("d")</div></td>
                <td><a asp-action = "" asp-controller = "Teacher">@subject.Name</a></td>
                @if(subject.Path != null)
                {
                    <td>
                        <a asp-action = "Download" asp-controller = "Teacher" asp-route-path ="@subject.Path">Загрузить файл</a>
                    </td>
                    
                } 
            </tr>
        } 
        </table>
       
    }

</body>