@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using MishaWork.Models
@model IEnumerable<MishaWork.Models.User>
@{
}
<head>
    <link href="~/css/TeacherObserve.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <table>
    <tr>
        <td>
            Ученики
        </td>
    </tr>
    <tr>
        <td>
        @foreach(User user in Model)
        {
            <a asp-action = "CheckWork" asp-controller = "Teacher" asp-route-id ="@user.Id" >@user.Name</a>      
        }
        </td>
    </tr>
    

</table>
</body>
